@use '../abstracts/' as *;

.features {
  padding: 5.25rem 1.75rem;

  &__title {
    text-align: center;
    font-weight: var(--fw-extra-thin);
    color: var(--clr-very-dark-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;

    b {
      display: block;
      font-weight: var(--fw-semi-bold);
    }
  }

  &__lead {
    text-align: center;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 55ch;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    position: relative;
    border-radius: 0.5rem;
    padding: 1.75rem;
    box-shadow: 0px 15px 30px -11px rgba(131, 167, 210, 0.5);
    background-color: var(--clr-white);
    overflow: hidden;

    &-title {
      font-size: 1.25rem;
      font-weight: var(--fw-semi-bold);
      color: var(--clr-very-dark-blue);
      margin-bottom: 0.5rem;
    }

    &-body {
      font-size: 0.75rem;
      line-height: 1.8;
      margin-bottom: 2rem;
    }

    &-footer {
      text-align: right;
    }

    &::before {
      content: '';
      background: var(--clr-grayish-blue);
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    &--supervisor::before {
      background: var(--clr-cyan);
    }
    &--team-builder::before {
      background: var(--clr-red);
    }
    &--karma::before {
      background: var(--clr-orange);
    }
    &--calculator::before {
      background: var(--clr-blue);
    }
  }

  @include media-breakpoint('mobile') {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  @include media-breakpoint('desktop') {
    &__title {
      font-size: 2.25rem;
    }

    &__list {
      max-width: 1110px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 1.875rem;
    }

    &__card-body {
      max-width: 36ch;
    }

    &__card--supervisor {
      grid-column: 1/2;
      grid-row: 2/4;
    }

    &__card--team-builder {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    &__card--karma {
      grid-column: 2/3;
      grid-row: 3/5;
    }

    &__card--calculator {
      grid-column: 3/4;
      grid-row: 2/4;
    }
  }
}
