@use '../abstracts/' as *;

:root {
  /* Colors */
  @each $type, $shade in $colors {
    @each $colorName, $value in $shade {
      @if ($type != 'text' and $type != 'background') {
        --clr-#{"" + $colorName}: #{$value};
      }

      @if ($type == 'text') {
        --clr-#{"" + $type}-#{"" + $colorName}: #{$value};
      }

      @if ($type == 'background') {
        --clr-#{"" + $type}-#{"" + $colorName}: #{$value};
      }
    }
  }

  /* Fonts Families */
  --ff-primary: 'Poppins', sans-serif;

  /* Fonts Sizes */
  @each $screen-size, $property in $type-scale {
    @if ($screen-size == mobile) {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    } @else {
      @include media-breakpoint(#{$screen-size}) {
        @each $prop, $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }

  /* Fonts Weight */
  @each $style, $value in $type-weight {
    --fw-#{$style}: #{$value};
  }
}
